name: Helm Chart Package CI
on:
  pull_request:
    branches:
      - 'master'
      - 'cert-manager-feature-branch'

jobs:


  detect-self-signer-change:
    name: is-self-signer-changed
    runs-on: ubuntu-latest
    outputs:
      certUtility: ${{ steps.filter.outputs.certUtility }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Verify Changed files
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
              certUtility: &certUtility
              - 'pkg/**'
              - 'cmd/**'

  # pre job run golangci-lint
  go-lint:
    name: 'Golint'
    runs-on: ubuntu-latest
    needs: detect-self-signer-change
    if: (needs.detect-self-signer-change.outputs.certUtility == 'true')
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22

      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.50.1
          working-directory: .
          args: --timeout=5m
          skip-build-cache: true
          skip-pkg-cache: true
          skip-go-installation: true

  # pre job to run helm lint
  helm:
    name: HelmLint
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Lint chart
        run: make test/lint
        working-directory: .

  # pre job to run the unit tests
  unitTest:
    name: UnitTest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22

      - name: HelmTemplate
        run: make test/template

      - name: Unit
        run: make test/units

  self-signer-tag-change:
    name: Tag Change
    runs-on: ubuntu-latest
    needs: detect-self-signer-change
    if: (needs.detect-self-signer-change.outputs.certUtility == 'true')
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Install yq
        run: make bin/yq

      - name: Verify tag change
        id: changetag
        run: |
          output=$(./build/self-signer-utility.sh)
          echo $output | grep "You have changed the tag of selfSigner utility"
          exit $?

  # pre job to run helm e2e tests
  helm-install-e2e:
    name: Helm-E2E-Test
    runs-on: ubuntu-latest-4-core
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22

      - name: Run E2E Test
        run: make test/e2e/install

  helm-rotate-cert-e2e:
    name: Helm-rotate-cert-Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22

      - name: Run E2E Test
        run: make test/e2e/rotate

  lint-templates:
    name: Lint release templates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22

      - name: generate configs
        run: go run build/build.go generate

      - name: check diff
        run: git diff --no-ext-diff --exit-code
