name: Helm Chart Package CI
on:
  push:
    branches:
      - 'master'
      - 'cert-manager-feature-branch'
    tags:
      - 'v*.*.*'
  pull_request_target:
    branches:
      - 'master'
      - 'cert-manager-feature-branch'

jobs:
  # pre job run golangci-lint
  go-lint:
    name: 'Golint'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.30
          working-directory: .
          args: --timeout=5m

  # pre job to run helm lint
  helm:
    name: HelmLint
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Get repositories
        uses: hiberbee/github-action-helm@latest

      - name: Lint chart
        run: helm lint cockroachdb
        working-directory: .

  # pre job to run the unit tests
  unitTest:
    name: UnitTest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Install cockroach binary
        run: make install-cockroach
 
      - name: HelmTemplate
        run: go test -v ./tests/template/...

      - name: Unit
        run: go test -v ./pkg/...

  # pre job to build and push the self signer utility
  pre-build:
    name: build-self-signer-cert-utility
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Login to GCR
        uses: docker/login-action@v1
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GCR_HELM_CHART_SA_JSON }}

      - name: Build Self-signer
        run: make build-self-signer

      - name: Push Self-signer
        run: make push-self-signer

  # pre job to run helm e2e tests
  helm-install-e2e:
    name: Helm-E2E-Test
    runs-on: ubuntu-latest
    needs:
      - pre-build
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Install Kind
        uses: helm/kind-action@v1.2.0

      - name: Install cockroach binary
        run: make install-cockroach

      - name: Load docker images to kind
        run: make load-docker-image-to-kind

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Run E2E Test
        run: go test -v ./tests/e2e/install/...
