name: Helm Chart Package CI
on:
  pull_request:
    branches:
      - '*'

jobs:


  detect-self-signer-change:
    name: is-self-signer-changed
    runs-on: ubuntu-latest
    outputs:
      certUtility: ${{ steps.filter.outputs.certUtility }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Verify Changed files
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            certUtility: &certUtility
            - 'pkg/generator/**'
            - 'pkg/kube/**'
            - 'pkg/resource/**'
            - 'pkg/security/**'
            - 'pkg/utils/**'
            - 'cmd/self-signer/**'

  # pre job run golangci-lint
  go-lint:
    name: 'Golint'
    runs-on: ubuntu-latest
    needs: detect-self-signer-change
    if: (needs.detect-self-signer-change.outputs.certUtility == 'true')
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
          working-directory: .
          args: --timeout=5m

      - name: Clean up Docker resources
        shell: bash
        run: |
          docker container prune -f
          docker image prune -a -f
          docker volume prune -f


  # pre job to run helm lint
  helm:
    name: HelmLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Lint chart
        run: make test/lint
        working-directory: .

  # pre job to run the unit tests
  unitTest:
    name: UnitTest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: HelmTemplate
        run: make test/template

      - name: Unit
        run: make test/units

      - name: Clean up Docker resources
        shell: bash
        run: |
          docker container prune -f
          docker image prune -a -f
          docker volume prune -f



  self-signer-tag-change:
    name: Tag Change
    runs-on: ubuntu-latest
    needs: detect-self-signer-change
    if: (needs.detect-self-signer-change.outputs.certUtility == 'true')
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Install yq
        run: make bin/yq

      - name: Verify tag change
        id: changetag
        run: |
          output=$(./build/self-signer-utility.sh)
          echo $output | grep "You have changed the tag of selfSigner utility"
          exit $?

  # pre job to run helm e2e tests
  helm-install-e2e:
    name: Helm-E2E-Test
    runs-on: ubuntu-latest-4-core
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Run E2E Test
        run: make test/e2e/install

      - name: Clean up Docker resources
        shell: bash
        run: |
          docker container prune -f
          docker image prune -a -f
          docker volume prune -f


  helm-rotate-cert-e2e:
    name: Helm-rotate-cert-Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Run E2E Test
        run: make test/e2e/rotate

      - name: Clean up Docker resources
        shell: bash
        run: |
          docker container prune -f
          docker image prune -a -f
          docker volume prune -f


  helm-single-region-e2e:
    name: Helm-single-region-Test
    runs-on: ubuntu-latest-4-core
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Run E2E Test
        run: |
          set -e
          make test/e2e/single-region
        continue-on-error: false

      - name: Clean up Docker resources
        shell: bash
        run: |
          docker container prune -f
          docker image prune -a -f
          docker volume prune -f


  helm-multi-region-e2e:
    name: Helm-multi-region-Test
    runs-on: ubuntu-latest-4-core
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Run E2E Test
        run: make test/e2e/multi-region

      - name: Clean up Docker resources
        shell: bash
        run: |
          docker container prune -f
          docker image prune -a -f
          docker volume prune -f

  migration-e2e:
    name: cockroach-enterprise-operator-migration-e2e
    runs-on: ubuntu-latest-4-core
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Run E2E Test
        run: make test/e2e/migrate

      - name: Clean up Docker resources
        shell: bash
        run: |
          docker container prune -f
          docker image prune -a -f
          docker volume prune -f

  lint-templates:
    name: Lint release templates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: generate configs
        run: go run build/build.go generate

      - name: check diff
        run: git diff --no-ext-diff --exit-code
